<div class="row">
  <div id="rockslist"><% for (x in rockTypes) {%>
    <span id="rock_<%=rockTypes[x].id%>" onclick="chooseRock(<%=rockTypes[x].id%>)">
    <img class="rockicons" height="50px" src="./images/rocks/<%=rockTypes[x].id%>.png"/><br>
    <%=  rockTypes[x].name %><br></span>
    <%}%>
  </div>
</div>
<div class="row">
  <div class="col-md-4" id="pickarea"><img width="200px" src="./images/picks/<%=pickTypes[0].id%>.png"/></div>
  <div class="col-md-4" id="rockarea" name="clickrock" onClick="doClick()">
    <img id="rockpicture" width="300px" src="images/rocks/<%=user.stats.rocksUnlocked%>.png"/>
  </div>
</div>
<div class="row">
  <input type="hidden" id="hiddenPoints" value=<%=user.stats.points%>>
  <input type="hidden" id="hiddenRock" value=<%=user.stats.rocksUnlocked%>>
  <input type="hidden" id="hiddenLevel" value=<%=user.stats.level%>>
  <input type="hidden" id="hiddenExp" value=<%=user.stats.exp%>>
  <audio id="mining_sound_effect" src="./sounds/mining.ogg" preload="auto"></audio>
  <audio id="mining_finished" src="./sounds/finishedmining.ogg" preload="auto"></audio>
  Money: <span id="points"><%= user.stats.points %></span><br>
  Level: <span id="level"><%= user.stats.level %></span><br>
  Experience: <span id="exp"><%= user.stats.exp %></span><br>
  <span id="info"></span>
</div>
