<div id="rockslist">
    <%for (i=0;i<rockTypes.length;i++) {
        if (user.stats.level>=rockTypes[i].required) {%>
            <span id="rock_<%=rockTypes[i].id%>" onclick="chooseRock(<%=rockTypes[i].id%>)" onmousemove="showRockTooltip(event, '<%=rockTypes[i].description%>')" onmouseover="toggleRockTooltip('show')" onmouseout="toggleRockTooltip('hide')">
                <img class="rockicons" height="50px" src="./images/rocks/<%=rockTypes[i].id%>.png"/><br>
                <%=  rockTypes[i].name %><br>
            </span>
        <%} else {%>
        <span class="rocksLocked" id="rock_<%=rockTypes[i].id%>" onclick="chooseRock(<%=rockTypes[i].id%>)" onmousemove="showRockTooltip(event, '<%=rockTypes[i].description%>')" onmouseover="toggleRockTooltip('show')" onmouseout="toggleRockTooltip('hide')">
            <img class="rockiconslocked" height="50px" src="./images/rocks/<%=rockTypes[i].id%>.png"/><br>
            <%=  rockTypes[i].name %><br>
        </span>
    <%}
    }%>
</div>
